<%- include('../partials/header') %>
<body>
    
    <% if (messages.error) { %>
        <div style="color: red;"><%= messages.error %></div>
    <% } %>
    <% if (messages.success) { %>
        <div style="color: green;"><%= messages.success %></div>
    <% } %>

    <section id="login-layout" class="container">
        <div class="row">
     
          <div class="col-12 text-center mb-4">
            <!-- <img src="https://via.placeholder.com/50" style="width:50px;border-radius:50%;margin-bottom:8px;"> -->
            <p class="fs-4"> <span class="brand-orange">Upscaler</span></p>
            <h2>Log in to your account </h2>
            <p class="supporting-text">Welcome back! Please enter your details</p>
          </div>
          <div class="col-12">
            <form action="/auth/login" method="POST">
              <div class="col-12 mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="col-12 mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
              </div>
              <div class="col-12 mb-3 d-flex justify-content-end">
                <a href="/auth/forgot-password" class="font-14">Forgot password</a>
              </div>
  
              <div class="col-12 mb-4">
                <button class="btn-primary w-100" type="submit">Sign in</button>
              </div>
              <div class="col-12 text-center">
                <!-- <p class="font-14">Don't have an account? <a href="/register">Sign up</a> -->
              </div>
            </form>
          </div>
        </div>
      </section>
      <script src="/js/functions.js"></script>
</body>
</html>