<%- include('../partials/header') %>
<form action="/auth/reset-password/<%= token %>" method="POST" id="login-layout">
  <div class="row">
    <div class="col-12">
        <% if (messages.error) { %>
            <div style="color: red;"><%= messages.error %></div>
        <% } %>
    </div>
      <div class="col-12 text-center mb-4">
          <h2>Reset password</h2>
      </div>
      <div class="col-12">
          <input type="hidden" name="token" value="<%= token %>">
          <div class="col-12 mb-3">
          <label for="password" class="form-label">New Password:</label>
          <input type="password" id="password" class="form-control" name="password" required>
          </div>
          <div class="col-12 mb-3">
          <label for="confirmPassword" class="form-label">Confirm New Password:</label>
          <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" required>
          </div>
          <div class="col-12 mb-3">
          <button type="submit" class="btn-primary w-100">Reset Password</button>
          </div>
      </div>
  </div>
</form>
